In [ ]:
# Introduction to List Data Types

# Def : A list is a collection of lines in a "particular order"

# classification : list is a mutable data type

# It is defined by using [ ]

In [8]:
students = ["prajwal", "varun", "aniket", "rohit", "mohit"]

print(students)

['prajwal', 'varun', 'aniket', 'rohit', 'mohit']

In [2]:
# Req : what kind of data type is students ?

type(students)

list

In [ ]:
students = ["prajwal", "varun", "aniket", "rohit", "mohit"]

# ====> elements-------{the present in square bracket[]}

# Now how to access the elements from the above list ?

# Introduction to Indexing

# So in the defination of list data type we have clearly mentioned that a particular order is to maintained. 
# so to maintain this particular order we use the concept of Indexing.

# What does indexing mean ?

# In backend indexing means assigning the values to the variable.

# So how does it start ?

# 0,1,2,3,4,5,6,7,8,9,.............

In [4]:
students_1 = ["prajwal", "pranjali", "pranay", "prajkta", "pratiksha"]

print(students_1)

['prajwal', 'pranjali', 'pranay', 'prajkta', 'pratiksha']

In [6]:
students_2 = ["prajwal", "pranjali", "sharda", "visheshwar"]
print(students_2)

['prajwal', 'pranjali', 'sharda', 'visheshwar']

In [9]:
print(students)
print(students_1)
print(students_2)

['prajwal', 'varun', 'aniket', 'rohit', 'mohit']
['prajwal', 'pranjali', 'pranay', 'prajkta', 'pratiksha']
['prajwal', 'pranjali', 'sharda', 'visheshwar']

In [ ]:

# Req : I want to print the variable in position 3

In [10]:
print(students_1)

['prajwal', 'pranjali', 'pranay', 'prajkta', 'pratiksha']

In [11]:
print(students_1[3])

prajkta

In [14]:
print(students_1[2])

pranay

In [15]:
print(student_1[5])

IndexError: list index out of range

In [16]:
print(students_1[0].title())

Prajwal

In [18]:
print(students_1[0].upper())

PRAJWAL

In [ ]:
    
    
    
    
                                # Extra Practice #

In [34]:
print(students_1)

['prajwal', 'pranjali', 'pranay', 'prajkta', 'pratiksha']

In [28]:
print(students_1[1])

pranjali

In [32]:
print(students_1[1, 2])

TypeError: list indices must be integers or slices, not tuple

In [36]:
print(students_1[1], [2])

pranjali [2]

In [33]:
print(student_1[[1], [2]])

TypeError: list indices must be integers or slices, not tuple

In [37]:
print(students_1[1] & [2])

TypeError: unsupported operand type(s) for &: 'str' and 'list'

In [38]:
print(students_1[1], students_1[2])

pranjali pranay

In [47]:
print(students_1[0], students_1[1], students_1[3])

prajwal pranjali prajkta

In [48]:
print(students_1[0].upper(), students_1[1].upper(), students_1[3].upper())

PRAJWAL PRANJALI PRAJKTA

In [49]:
python_class = ["Prajwal", "Aniket", "Rohit", "Mohit", "Varun", "Vipul", "Rahul"]

print(python_class)

type(python_class)

['Prajwal', 'Aniket', 'Rohit', 'Mohit', 'Varun', 'Vipul', 'Rahul']

list

In [50]:
print(python_class[2])

Rohit

In [51]:
print(python_class[5])

Vipul

In [52]:
python_class[6]

'Rahul'

In [53]:
python_class[0]

'Prajwal'

In [54]:
python_class[2], python_class[4], python_class[6], python_class[0]

('Rohit', 'Varun', 'Rahul', 'Prajwal')

In [58]:
python_class1 = ['Prajwal', 'Aniket', 'Rohit', 'Mohit', 'Varun', 'Vipul', 'Rahul']


print(python_class1)

['Prajwal', 'Aniket', 'Rohit', 'Mohit', 'Varun', 'Vipul', 'Rahul']

In [57]:
python_class2 = ['''Prajwal''', '''Aniket''', '''Rohit''']


print(python_class2)

['Prajwal', 'Aniket', 'Rohit']

In [59]:
python_class3 =["""Prajwal""", """Aniket""", """Rohit"""]

print(python_class3)

['Prajwal', 'Aniket', 'Rohit']

In [ ]:
# Note : You used any Quotation single, double OR triple in list data type print only single quotation