In [ ]:


# Uses of Quotation in List And the difference list and string



# Find the position of element in the functions



# Add or insert the element in the list....
   
    
    # Uses of .append() and .insert()

In [1]:
print("a")

a

In [2]:
print("1")

1

In [3]:
print(a)

NameError: name 'a' is not defined

In [4]:
print(1)

1

In [ ]:
# =====> Whenever we type any letter we have to put it in Quotes.

# =====> If it is numerical then we do not need the Quotes.

# =====> If you put the number in the quotation, then it understands the alphabet and it's print like alphabet.

In [5]:
print("a")

a

In [13]:
type(print)      #------Que......what is this?

builtin_function_or_method

In [7]:
type("a")        #--------A single letter of any alphabet is in the datatype is "str"

str

In [8]:
print(3+3)

6

In [9]:
print("3+3")

3+3

In [10]:
print(1000)

1000

In [11]:
print('1000')

1000

In [12]:
a = "2"

b = "4"

print(a+B)      #---------- Python is case sensitive.

NameError: name 'B' is not defined

In [14]:
a = "2"

b = "4"

print(a+b)      #----- They print like Alphabet because the number is in the quotation.

24

In [16]:
a = 2

b = 4

print(a+b)       #-------- Now it's perfectly print ans.

6

In [17]:
# Now some more Examples :

a1 = "5"

b1 = "6"

print(a1+b1)

56

In [18]:
a1 = 5

b1 = 6

print(a1+b1)

11

In [20]:
a1*b1

30

In [21]:
a1/b1

0.8333333333333334

In [22]:
a1-b1

-1

In [23]:
a1 = "5"

b1 = "6"

print(a1+b1)

56

In [24]:
a1*b1

TypeError: can't multiply sequence by non-int of type 'str'

In [25]:
a1/b1        #------------ In the two letter can't multiplied('*') and divide('/')

TypeError: unsupported operand type(s) for /: 'str' and 'str'

In [29]:
stud = ["prajwal", "rahul", "varun","aniket"]
print(stud)

['prajwal', 'rahul', 'varun', 'aniket']

In [30]:
print(stud[1])

rahul

In [31]:
stud[2]          #----------------- The mining of """Out""" is the end for program (It's completed now. wah uske aage nahi bad sakta ab.)

'varun'

In [46]:
stud1 = [prajwal, aniket, rohit, mohit]


print(stud1)                       #-------- you arenot write quotes.

NameError: name 'prajwal' is not defined

In [44]:
stud2 = ["prajwal", "aniket", "rohit", "mohit"]

print(stud2)

['prajwal', 'aniket', 'rohit', 'mohit']

In [51]:
stud1 = ['prajwal, aniket, rohit, mohit']


print(stud1)

['prajwal, aniket, rohit, mohit']

In [52]:
print(stud1[0])               #---------Because all name in a single quotation.

prajwal, aniket, rohit, mohit

In [53]:
print(stud1[1])

IndexError: list index out of range

In [63]:
stud3 = ['prajwal', 'aniket', 'rohit', 'mohit']

print(stud3)

type(stud3)

['prajwal', 'aniket', 'rohit', 'mohit']

list

In [64]:
stud4 = ['prajwal, aniket, rohit, mohit']

print(stud4)  

type(stud4)

['prajwal, aniket, rohit, mohit']

list

In [ ]:
#---------------In the LIST Quotation is defined the element is a single or multiple


 #---------for example ===> In the above two program defined this functions
    
    #------In 1st ===> Used the quotation is separately each name
    
    #------And 2nd ===> Write all name in a single quotation.

    
# ------Therefore,is in the 1st program FOUR element & 2nd is in the single element.

In [65]:
stud5 = "[prajwal, aniket, rohit, mohit]"

print(stud5)

[prajwal, aniket, rohit, mohit]

In [70]:
print(stud5[4])

j

In [74]:
print(stud5[8])

,

In [73]:
print(stud5[12])

i

In [72]:
print(stud5[20])

h

In [71]:
print(stud5[15])

t

In [75]:
print(stud5[0])

[

In [76]:
type(stud5)

str

In [ ]:


#---NOTE--- In a square bracket anything write in a Quotation it's a "LIST"

#----But, if you write anything (including square bracket) in the Quotation it is the "STRING"

In [78]:
print(stud3)

print(stud5)

['prajwal', 'aniket', 'rohit', 'mohit']
[prajwal, aniket, rohit, mohit]

In [79]:
print(stud5[6]stud5[7])

SyntaxError: invalid syntax (<ipython-input-79-eccc6b8fd45c>, line 1)

In [80]:
print(stud5[6],stud5[7])

a l

In [81]:
print(stud5[6],stud5[7],stud3[2])

a l rohit

In [83]:
print(stud5[6],stud5[7],stud3[2].title())

a l Rohit

In [84]:
print(stud5[6],stud5[7],stud3[2].upper())

a l ROHIT

In [86]:
print(stud5[8])

,

In [87]:
stud5[8]                   #--------Que.    why in output print in Quotes.

','

In [94]:
name = ['prajwal', 'aniket', 'rohit']

print(name)

['prajwal', 'aniket', 'rohit']

In [95]:
# Req : We want to add a new name (element) =====> "mohit"

name.append('mohit')
print(name)

['prajwal', 'aniket', 'rohit', 'mohit']

In [96]:
name.append('varun')
print(name)

['prajwal', 'aniket', 'rohit', 'mohit', 'varun']

In [97]:
name.append('prajwal')

print(name)


# So we observe that whenever we use 'append()' the element is added up in the last position.

['prajwal', 'aniket', 'rohit', 'mohit', 'varun', 'prajwal']

In [98]:
# Now ASK : If we want to add the name/element to the position of our choice.

# Or can we add the element to a position or index of our choice.

name.insert(2,'anita')
print(name)

['prajwal', 'aniket', 'anita', 'rohit', 'mohit', 'varun', 'prajwal']

In [99]:
print(name[2])

anita

In [100]:
name[2]                        #-----------Que

'anita'

In [102]:
name.insert(0,'gajni')
print(name)
                          # ---------'gajni' print two times. because, if you insert first then run and after you type print then run again in that time your insert word is print in two times.

['gajni', 'gajni', 'prajwal', 'aniket', 'anita', 'rohit', 'mohit', 'varun', 'prajwal']

In [104]:
name.insert(25,'pranju')
print(name)

['gajni', 'gajni', 'prajwal', 'aniket', 'anita', 'rohit', 'mohit', 'varun', 'prajwal', 'pranju']

In [105]:
print(name[20])

IndexError: list index out of range

In [106]:
print(name[25])

IndexError: list index out of range

In [107]:
print(name[9])           #----- Then it makes us understand that if you insert element any position but it gain a last position in your list.

pranju

In [110]:
name.insert(1000,'happy')
print(name)

['gajni', 'gajni', 'prajwal', 'aniket', 'anita', 'rohit', 'mohit', 'varun', 'prajwal', 'pranju', 'happy']

In [111]:
name.insert(1000,'happy'.upper())
print(name)      

                # If you use {.title(), .upper(), .lower()} so you can used that.

['gajni', 'gajni', 'prajwal', 'aniket', 'anita', 'rohit', 'mohit', 'varun', 'prajwal', 'pranju', 'happy', 'HAPPY']

In [112]:
print(name)

['gajni', 'gajni', 'prajwal', 'aniket', 'anita', 'rohit', 'mohit', 'varun', 'prajwal', 'pranju', 'happy', 'HAPPY']

In [113]:
name                    # I thing it's shows the end of this program or it's shows fully final defined output.

['gajni',
 'gajni',
 'prajwal',
 'aniket',
 'anita',
 'rohit',
 'mohit',
 'varun',
 'prajwal',
 'pranju',
 'happy',
 'HAPPY']

In [114]:
2+2

4

In [91]:
name = '[prajwal]'

print(name)
type(name)

[prajwal]

str

In [92]:
name1 = 'prajwal'

print(name1)
type(name1)

prajwal

str

In [93]:
name2 = ['prajwal']

print(name2)
type(name2)

['prajwal']

list

In [90]:
print(name2[0])

prajwal